<div class="table-responsive-xl">
    <table class="table">
        <thead>
            <tr class="bg-info text-primary">
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-primary"
                style="cursor: pointer;"
                *ngFor="let student of studentList">
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.address}}</td>
                <td>{{student.birthDate | date: 'M/d/yy'}}</td>
                <td>{{student.emailAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
<div class="row">
    <div class="col-xs-12 offset-md-4">
        <button class="btn btn-success btn-lg" (click)="onAddStudent()">New Recipe</button>
    </div>
</div>